.board-space {
    padding-top: 31%;
    border: solid .5em darkslategrey ;
    position: relative;
}

.board-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight: bold;
    font-size: 9em;
    text-align: center;
}

.board-space:not(disabled):hover {
    box-shadow: 0 0 .5em inset purple;
}

.board-space:active:not(disabled) {
    box-shadow: 0 0 .5em inset green;
}

.cmodal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px; 
}